<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Hider</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" /> 

  </head>
  <body>
    <h1 class="heading"><span id="typing-title"></span></h1>
    <h1>Hide Text in Image</h1>
    <form class="box" action="/hide" method="post" enctype="multipart/form-data">
      <input type="file" name="file" required class="input-file"/>
      <input type="file" name="key" placeholder="Image to save key(optional)" class="input-file"/>
      <input
        type="text"
        name="message"
        placeholder="Enter text to hide"
        required
        class="input-text"
      />
      <button type="submit" class="button">Hide Text</button>
    </form>

    <h1>Extract Text from Image</h1>
    <form class="box" action="/extract" method="post" enctype="multipart/form-data">
      <input type="file" name="file" required class="input-file"/>
      <input type="file" name="key" placeholder="Image to save key(optional)" class="input-file"/>
      <button type="submit" class="button">Extract Text</button>
    </form>

    <h1>Generate new Key</h1>
    <form class="box" action="/gen" method="post" enctype="multipart/form-data">
      <button type="submit" class="button">Generate key</button>
    </form>

    <script>
      const title = "PixelEncryptor";
      let index = 0;
  
      function typeTitle() {
          if (index < title.length) {
              document.getElementById("typing-title").innerHTML += title.charAt(index);
              index++;
              setTimeout(typeTitle, 300); // Adjust typing speed here (in milliseconds)
          }
      }
  
      // Start typing effect when the page loads
      window.onload = typeTitle;
  </script>
  </body>
</html>
